$primary-color: #617092;
$secondary-color:#dfdfdf;
$nav-color:#343c4f;
$footer-color:#c6cde4;
$hover-color: #96a6d6;
$font-family: 'Lucida Sans', sans-serif;
$font-base-size: 1.1rem;
$title-font-size: 1.4rem;
$font-mini-size: 0.8rem;